.grid {
    display: grid;
    grid-template-columns: repeat(var(--gridSize), 40px);
    gap: 0px;
  }
  
  .cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .highlight {
    background-color: rgb(37, 164, 73); 
  }
  